#external {
	color: yellow;
}

* {
	font-family: 'Roboto', sans-serif;
}

h1{
	font-size: 50px;
	font-family: 'Bebas Neue', cursive;
}


#header-two {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.languages > li {
	background-color: lightgreen;
}

ol[title] > li {
	border: 1px;
	border-style: dashed;
}

section ul{
	list-style-type: none;
}

section img {
	border-radius: 500px;
	font-size: 20;
	width: 5%;
}

img ~ p{
	text-align: center;
}

section > ul > li {
	letter-spacing: 5px;
}